@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.faq-item {
  border-bottom: 1px solid #eee;
  padding: 25px 0;

  @include breakpoint(mobile-lg) {
    padding: 18px 0;
  }
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  h4 {
    font-size: 22px;
    font-weight: 600;
    font-family: $fontHeading;
    margin-bottom: 0;
    padding-right: 16px;

    @include breakpoint(tablet-sm) {
      font-size: 18px;
    }
    @include breakpoint(mobile-lg) {
      font-size: 16px;
    }
  }
}

.arrow {
  font-size: 22px;
  flex-shrink: 0;

  @include breakpoint(mobile-lg) {
    font-size: 18px;
  }
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;

  p {
    margin-bottom: 14px;
    font-size: 19px;
    width: 90%;
    line-height: 1.4;
    font-family: $fontBody;
    color: $pink;
    padding-top: 12px;

    @include breakpoint(tablet-sm) {
      font-size: 16px;
    }
    @include breakpoint(mobile-lg) {
      font-size: 15px;
      width: 100%;
    }
  }
}
